html {
    height: 100%;
}
body {
    overflow: hidden;
    background: #011822;
    height: 100%;
    background: -moz-radial-gradient(center, ellipse cover, #011822 0%, #01121a 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #011822 0%, #01121a 100%);
    background: radial-gradient(ellipse at center, #011822 0%, #01121a 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#011822', endColorstr='#01121a', GradientType=1);
}
.red-container .champ-box .dim, .red-container .champ-box .role, .blue-container .champ-box .spell {
    right: 0px;
}
.blue-container .champ-box .dim, .blue-container .champ-box .role, .red-container .champ-box .spell {
    left: 0px;
}
.container {
    width: 100%;
}
.red-container {
    margin-left: 1em;
    display: inline-block;
}
.blue-container {
    margin-right: 1em;
    display: inline-block;
    float: right;
}
.red-container .champ-box {
    background-color: #e74c3c;
}
.blue-container .champ-box {
    background-color: #3498db;
}
.champ-box {
    height: 135px;
    width: 450px;
    margin-top: 10px;
    position: relative;
}
.blue-container .champ-box p:hover {
    color: #3498db;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.red-container .champ-box p:hover {
    color: #e74c3c;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
splash {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-position: 0px -25px;
    background-size: 450px 253px;
    background-repeat: none;
}
.role {
    position: absolute;
    bottom: 45px;
    font-size: 0.6em;
    text-transform: uppercase;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "Open Sans", sans-serif;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    z-index: 1;
    padding-left: 1em;
    padding-right: 0.5em;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.role::after {
    content: "";
    padding-right: 5px;
}
.dim {
    position: absolute;
    bottom: 0px;
    color: white;
    text-transform: uppercase;
    height: auto;
    width: auto;
    padding: 0.5em 1em 0.5em 1em;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "Open Sans", sans-serif;
    z-index: 1;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.spell {
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    position: absolute;
    z-index: 1;
}
.spell:nth-child(1) {
    bottom: 60px;
}
.spell:nth-child(2) {
    bottom: 10px;
}
.center {
    display: inline-block;
    width: auto;
    max-width: 969px;
}
.time {
    width: 100%;
    margin-bottom: 25px;
    color: white;
    font-size: 5em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.map {
    margin-left: 31px;
    display: block;
}
@media screen and (max-width: 480px) {
    .blue-container {
        float: left;
    }
}
@media screen and (max-width: 1890px) {
    .map {
        display: none;
    }
}